.xe_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}
.xe_overlay_close {
	position: absolute;
	top: 7px;
	right: 7px;
	color: #999;
	font-family: arial;
	font-size: 39px;
	/*border: 1px solid #999;
	padding: 20px 30px;
	border-radius: 50px;*/
	cursor: pointer;
}
.xe_hide {
	display: none;
}

.xe_wrap {
	width: 400px;
	border: 10px solid #bbb;
	padding: 40px;
	margin: 20px auto;
	background: #ddd;
	display: block;
}

#xe_mainwrapper {
	display: none;
}

.xe_foot {
	background-color:#44c767;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

	margin: 20px 0 -10px 0;
}
.xe_foot:hover {
	background-color:#5cbf2a;
}
.xe_foot:active {
	position:relative;
	top:1px;
}